body {
  background-color: #faf7ff;
  font-family: "Outfit";
  padding: 40px;
  color: #363b4e;
}

.container {
  margin: 120px auto;
  margin-bottom: 40px;
  max-width: 600px;
  background-color: white;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

header {
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  font-size: 64px;
  margin: 0 auto;
  font-family: "Jacquard 24";
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

p {
  text-align: center;
  font-size: 18px;
  color: #9589cb;
}

form {
  display: flex;
  margin-bottom: 8px;
  gap: 10px;
}

.field {
  flex: 1;
  padding: 20px;
  border: 2px solid #dcd6f7;
  border-radius: 8px;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Outfit";
  color: #363b4e;
  min-width: 0;
}

.field:focus {
  outline-color: #dcd6f7;
}

.field::placeholder {
  color: #929aab;
  font-size: 16px;
}

.button {
  padding: 20px;
  width: auto;
  line-height: 1.5;
  border-radius: 8px;
  background: #dcd6f7;
  border: 2px solid #dcd6f7;
  color: #363b4e;
  font-size: 16px;
  font-family: "Outfit";
  transition: 300ms ease-in-out all;
}

.button:hover {
  background-color: white;
}

.hint {
  color: #929aab;
  font-size: 14px;
}

.story {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  border-left: 2px solid #dcd6f7;
  padding: 20px;
  background: #faf7ff;
  border-radius: 0 4px 4px 0;
}

.story strong {
  color: #9589cb;
  font-weight: 400;
  font-size: 12px;
  padding-top: 10px;
}

.hidden {
  display: none;
}

.blink {
  animation: blink 1.5s infinite;
  animation-fill-mode: both;
  color: #9589cb;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

footer {
  text-align: center;
  font-size: 12px;
  color: #929aab;
}

a {
  color: #9589cb;
}

@media (max-width: 600px) {
  * {
    box-sizing: border-box;
  }

  body {
    padding: 20px;
  }

  .container {
    padding: 20px;
  }

  header {
    margin-bottom: 32px;
    margin-top: 12px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .hint {
    font-size: 10px;
    display: none;
  }

  form {
    display: block;
  }

  .field {
    width: 100%;
    min-width: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .field::placeholder {
    font-size: 12px;
  }

  .button {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 20px 0;
    display: block;
  }

  .story {
    margin-top: 40px;
    font-weight: 400;
    font-size: 12px;
    padding: 12px;
  }

  .story strong {
    font-size: 10px;
    padding-top: 10px;
  }

  footer {
    font-size: 10px;
    margin-top: 12px;
  }
}
